In [ ]:
import os

In [ ]:
os.getcwd() # Print current working dir

In [ ]:
# How to read a single text file

In [ ]:
with open('MyTextFile1.txt','r') as f:
    for line in f:
        print (line)

In [ ]:
# Read multiple text files as a dataframe in python

In [ ]:
loc = 'C:\\Users\\'
os.chdir(loc)
filelist = os.listdir()  # Listing all the file names present at this location 
filelist

In [ ]:
data = []  # Defining an empty list 
path = loc
files = [f for f in os.listdir(path) if os.path.isfile(f)]
for f in files:
    with open(f,'r') as myfile:  # Opening the file
        data.append(myfile.read())  # Reading and appending the content of that file in list

In [ ]:
data  
type(data)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)  # List is getting converted in the dataframe 
print (df.shape)

In [ ]:
df  # Sitting in memory

In [ ]:
## Read all the files from the LAN 
# and classify files in five classes 
# Finance 
# HR 
# Engineering 
# Sales 
# Professional services

In [ ]:
# To read a large csv files 
# Steps 
# Use chunksize option 
# DF1 = 1st 10k 
# DF2 = 2nd 10k 
# DFn = last 10k 
# appending these chunks in final Dataframe 
# DF1 = pd.read_csv( "filename.csv", chunksize = 10000)

### How to read twitter data in python

In [ ]:
#!pip install tweepy
import tweepy

In [ ]:
# Steps 
# Appropriate library 
# On the developer site of twitter you need to register a dummy application

In [ ]:
## import the libraries
import tweepy, codecs

# https://apps.twitter.com/app/6270442/show

## fill in your Twitter credentials 
consumer_key = "J4wbIOkVMhfnldyYJk9Ml1xBI"
consumer_secret = "XsZVbiJc8VDFQaI2JwfhWEpaSQcDWpYPJ6miA3KegusJ8MPe0d"
access_token = "1050635730-zKs23r1LdGF75CgAsRlfMtOmrZT4pKqvLMgyGnC"
access_token_secret = "l9zYaR1nZmaklXAZNlB3FKX5hPSNpIYPDeExay8KHzCjF"

In [ ]:
## let Tweepy set up an instance of the REST API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

# successful execution of this command means that a connection is established between twitter and python

In [ ]:
## fill in your search query and store your results in a variable
results = api.search(q = "Umer Sharif", lang = "en", result_type = "recent", count = 5)

In [ ]:
results

# How to convert this result into a dataframe

In [ ]:
api.home_timeline("@NarendraModi")  # Tweets that are originating from this handle

In [ ]:
# What is trending in India ( WOEID of India)
#api.trends_place("23424848")
# 20070458
api.trends_place("2459115")

# Hashtag those are trending in India

In [ ]:
os.getcwd()
## use the codecs library to write the text of the Tweets to a .txt file
file = codecs.open("My_file.txt", "w", "utf-8")
for result in results:
    file.write(result.text)
    file.write("\n")
file.close()

In [ ]:
df1 = pd.read_table("C:\\Users\\anparash\\MyTextFlieFolder\\My_file.txt")

In [ ]:
df1.head()

### Regular Expression ( RegEx)

Used to find or replace of particular pattern inside a string with a minimal amount of code.

In [ ]:
# Use Case:- 
# 1 - Write down a RegEx to validate an email address 
# 2 - ...................  to validare a website 
# 3-  validate a PAN card or Aadhar or SSN or Phone number

In [4]:
# Library re- Regular Expression 
import re

In [43]:
Text = "India - _ logged 19,740 new Covid-19 cases and 23,070 recoveries in the last 24 hours, & () * $ reports the ministry of health and family welfare on Saturday. With this, the country's active caseload now stands at 2,36,643, which is the lowest in 206 days. Stay with TOI for updates @ # $ from India and around the world"

In [44]:
Text

"India - _ logged 19,740 new Covid-19 cases and 23,070 recoveries in the last 24 hours, & () * $ reports the ministry of health and family welfare on Saturday. With this, the country's active caseload now stands at 2,36,643, which is the lowest in 206 days. Stay with TOI for updates @ # $ from India and around the world"

In [36]:
# How to check if the Text is starting with India 
x = re.findall(r"\bIn|wo", Text)  # Checking if the string is staring with "Ni" or "Ra"

# \b is a keyword -> begining 
# r -> "raw" string 
print(x)

if x: 
    print("Yes there is at least one match found !")
else: 
    print("there is no match found")

['In', 'In', 'wo']
Yes there is at least one match found !

In [37]:
# RegEx to extract small letter words 
match = re.findall(r"[a-z]", Text)
print(match)

['n', 'd', 'i', 'a', 'l', 'o', 'g', 'g', 'e', 'd', 'n', 'e', 'w', 'o', 'v', 'i', 'd', 'c', 'a', 's', 'e', 's', 'a', 'n', 'd', 'r', 'e', 'c', 'o', 'v', 'e', 'r', 'i', 'e', 's', 'i', 'n', 't', 'h', 'e', 'l', 'a', 's', 't', 'h', 'o', 'u', 'r', 's', 'r', 'e', 'p', 'o', 'r', 't', 's', 't', 'h', 'e', 'm', 'i', 'n', 'i', 's', 't', 'r', 'y', 'o', 'f', 'h', 'e', 'a', 'l', 't', 'h', 'a', 'n', 'd', 'f', 'a', 'm', 'i', 'l', 'y', 'w', 'e', 'l', 'f', 'a', 'r', 'e', 'o', 'n', 'a', 't', 'u', 'r', 'd', 'a', 'y', 'i', 't', 'h', 't', 'h', 'i', 's', 't', 'h', 'e', 'c', 'o', 'u', 'n', 't', 'r', 'y', 's', 'a', 'c', 't', 'i', 'v', 'e', 'c', 'a', 's', 'e', 'l', 'o', 'a', 'd', 'n', 'o', 'w', 's', 't', 'a', 'n', 'd', 's', 'a', 't', 'w', 'h', 'i', 'c', 'h', 'i', 's', 't', 'h', 'e', 'l', 'o', 'w', 'e', 's', 't', 'i', 'n', 'd', 'a', 'y', 's', 't', 'a', 'y', 'w', 'i', 't', 'h', 'f', 'o', 'r', 'u', 'p', 'd', 'a', 't', 'e', 's', 'f', 'r', 'o', 'm', 'n', 'd', 'i', 'a', 'a', 'n', 'd', 'a', 'r', 'o', 'u', 'n', 'd', 't', 'h', 'e', 'w', 'o', 'r', 'l', 'd']

In [45]:
# RegEx to extract small letter words 
match = re.findall(r"[a-z]+", Text)
print(match)

['ndia', 'logged', 'new', 'ovid', 'cases', 'and', 'recoveries', 'in', 'the', 'last', 'hours', 'reports', 'the', 'ministry', 'of', 'health', 'and', 'family', 'welfare', 'on', 'aturday', 'ith', 'this', 'the', 'country', 's', 'active', 'caseload', 'now', 'stands', 'at', 'which', 'is', 'the', 'lowest', 'in', 'days', 'tay', 'with', 'for', 'updates', 'from', 'ndia', 'and', 'around', 'the', 'world']

In [ ]:
# Small and upper case both

In [46]:
match = re.findall(r"[a-zA-Z]+", Text)
print(match)

['India', 'logged', 'new', 'Covid', 'cases', 'and', 'recoveries', 'in', 'the', 'last', 'hours', 'reports', 'the', 'ministry', 'of', 'health', 'and', 'family', 'welfare', 'on', 'Saturday', 'With', 'this', 'the', 'country', 's', 'active', 'caseload', 'now', 'stands', 'at', 'which', 'is', 'the', 'lowest', 'in', 'days', 'Stay', 'with', 'TOI', 'for', 'updates', 'from', 'India', 'and', 'around', 'the', 'world']

In [47]:
# RegEx to extract only numbers 
match = re.findall(r"[0-9]+", Text)
print(match)

['19', '740', '19', '23', '070', '24', '2', '36', '643', '206']

In [50]:
# Tell me everything but not the numbers and alphabets 
match = re.findall(r"[^a-zA-Z0-9]+", Text)
print(match)

# ^ -> everythin except the match criteria

[' - _ ', ' ', ',', ' ', ' ', '-', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', ', & () * $ ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '. ', ' ', ', ', ' ', "'", ' ', ' ', ' ', ' ', ' ', ' ', ',', ',', ', ', ' ', ' ', ' ', ' ', ' ', ' ', '. ', ' ', ' ', ' ', ' ', ' @ # $ ', ' ', ' ', ' ', ' ', ' ']

In [51]:
# Also skip spaces 
match = re.findall(r"[^a-zA-Z0-9\s]+", Text)
print(match)

['-', '_', ',', '-', ',', ',', '&', '()', '*', '$', '.', ',', "'", ',', ',', ',', '.', '@', '#', '$']

In [52]:
# Also skip dots 
match = re.findall(r"[^a-zA-Z0-9\s.]+", Text)
print(match)

['-', '_', ',', '-', ',', ',', '&', '()', '*', '$', ',', "'", ',', ',', ',', '@', '#', '$']

In [53]:
# Also skip commas
match = re.findall(r"[^a-zA-Z0-9\s.,]+", Text)
print(match)

['-', '_', '-', '&', '()', '*', '$', "'", '@', '#', '$']

In [54]:
pattern = r"[^a-zA-Z0-9\s.,]+"
match = re.findall(pattern, Text)
print(match)

['-', '_', '-', '&', '()', '*', '$', "'", '@', '#', '$']

In [56]:
# Replace all the special characters with blank 
pattern = r"[^a-zA-Z0-9\s]+"
temp = re.sub(pattern, "", Text)  # Substitution to remove special characters 
print(temp)

India   logged 19740 new Covid19 cases and 23070 recoveries in the last 24 hours     reports the ministry of health and family welfare on Saturday With this the countrys active caseload now stands at 236643 which is the lowest in 206 days Stay with TOI for updates    from India and around the world

In [57]:
# Replace Covid19 with fever
temp1 = re.sub("Covid19", "fever", temp)
print(temp1)

India   logged 19740 new fever cases and 23070 recoveries in the last 24 hours     reports the ministry of health and family welfare on Saturday With this the countrys active caseload now stands at 236643 which is the lowest in 206 days Stay with TOI for updates    from India and around the world

In [59]:
# A regular expression to replace all the lowercases with "X"
re.sub(r"[a-z]", "X", temp1)

'IXXXX   XXXXXX 19740 XXX XXXXX XXXXX XXX 23070 XXXXXXXXXX XX XXX XXXX 24 XXXXX     XXXXXXX XXX XXXXXXXX XX XXXXXX XXX XXXXXX XXXXXXX XX SXXXXXXX WXXX XXXX XXX XXXXXXXX XXXXXX XXXXXXXX XXX XXXXXX XX 236643 XXXXX XX XXX XXXXXX XX 206 XXXX SXXX XXXX TOI XXX XXXXXXX    XXXX IXXXX XXX XXXXXX XXX XXXXX'

In [65]:
# Check if string is ending with "world"
x1 = "Srivastava"
result = re.search("va$", x1)  # Ending with "va"
print(result)

<re.Match object; span=(8, 10), match='va'>

In [70]:
# Check if string is ending with "world"
x1 = "Srivastava"
result = re.search("^Sr", x1)  # Starting with "Sr"
print(result)

<re.Match object; span=(0, 2), match='Sr'>

In [74]:
# String starting with "e" ending with "e" and in between anything 
x1 = "exchajkgjgjhgjhghjghjghjghjnge"
result = re.match("^e.*e$", x1)  # ".*" means anything in between 
result

In [78]:
# String starting with "e" ending with "e" and in between exactly 6 characters 
x1 = "exchange"
result = re.match("^e......e$", x1)  # 6 "." means checking for 6 characters 
result

if result:
    print("match found")
else:
    print("match not found")

match found

In [81]:
# Broader four operation in regular expression 
# find 
# sub 
# match 
# split 
x2 = "Shanti Nikhar 1985 @Anil"
#re.split("\s", x2)  # First argumnet is spliting criteria 
#re.split("\d", x2)  # First argumnet is spliting criteria 
# Split based upon a special character 
re.split(r"[^a-zA-Z0-9\s]+", x2)

['Shanti Nikhar 1985 ', 'Anil']

In [ ]:
pattern = r"[^a-zA-Z0-9\s.,]+"
match = re.findall(pattern, Text)
print(match)

In [ ]:
def Remove_digit(text):
    result = re.sub(r"\d", "", text)
    return result

In [91]:
# This is one of the dataframe
import pandas as pd

In [92]:
Customer_Reviews = pd.read_csv("C:\\JS\\Text_Handling_IPBA\\twcs\\twcs.csv", nrows = 500)

In [93]:
Customer_Reviews.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [94]:
# From the dataframe pulling only Text column 
Customer_Reviews_Text = Customer_Reviews[['text']]

In [95]:
Customer_Reviews_Text.head()

                                                text
0  @115712 I understand. I would like to assist y...
1      @sprintcare and how do you propose we do that
2  @sprintcare I have sent several private messag...
3  @115712 Please send us a Private Message so th...
4                                 @sprintcare I did.

In [96]:
# All the review in lower case letter 
Customer_Reviews_Text['text_lower']  = Customer_Reviews_Text["text"].str.lower()

<ipython-input-96-92ff8615106b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Customer_Reviews_Text['text_lower']  = Customer_Reviews_Text["text"].str.lower()

In [97]:
Customer_Reviews_Text.head()

,text,text_lower
0,@115712 I understand. I would like to assist y...,@115712 i understand. i would like to assist y...
1,@sprintcare and how do you propose we do that,@sprintcare and how do you propose we do that
2,@sprintcare I have sent several private messag...,@sprintcare i have sent several private messag...
3,@115712 Please send us a Private Message so th...,@115712 please send us a private message so th...
4,@sprintcare I did.,@sprintcare i did.

In [98]:
# To remove digits from the text 
x4 = "2021 India won gold medal"
re.sub(r"\d", "", x4)

' India won gold medal'

In [99]:
# Creating a custom function 
def Remove_digit_IPBA(text):
    result = re.sub(r"\d", "", text)
    return result

In [100]:
# We are applying a custom function on all the rows of dataframe
Customer_Reviews_Text['text_nodigits'] =  Customer_Reviews_Text['text'].apply(Remove_digit_IPBA)

<ipython-input-100-84b0b1b54c9f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Customer_Reviews_Text['text_nodigits'] =  Customer_Reviews_Text['text'].apply(Remove_digit_IPBA)

In [101]:
Customer_Reviews_Text.head()

,text,text_lower,text_nodigits
0,@115712 I understand. I would like to assist y...,@115712 i understand. i would like to assist y...,@ I understand. I would like to assist you. We...
1,@sprintcare and how do you propose we do that,@sprintcare and how do you propose we do that,@sprintcare and how do you propose we do that
2,@sprintcare I have sent several private messag...,@sprintcare i have sent several private messag...,@sprintcare I have sent several private messag...
3,@115712 Please send us a Private Message so th...,@115712 please send us a private message so th...,@ Please send us a Private Message so that we ...
4,@sprintcare I did.,@sprintcare i did.,@sprintcare I did.

In [ ]:
# Build a custom function to remove all the special characters from the text 
# Replace all the special characters with blank 
pattern = r"[^a-zA-Z0-9\s]+"
temp = re.sub(pattern, "", Text)  # Substitution to remove special characters 
print(temp)

In [103]:
def remove_all_special(TextValue):
    result = re.sub(r"[^a-zA-Z0-9\s]+", "", TextValue)
    return result

In [105]:
def remove_all_special(T1):
    T2 = re.sub(r"[^a-zA-Z0-9\s]+", "", T1)
    return T2

In [106]:
Customer_Reviews_Text['text_nospecial'] =  Customer_Reviews_Text['text'].apply(remove_all_special)
Customer_Reviews_Text.head()

<ipython-input-106-becd4a888439>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Customer_Reviews_Text['text_nospecial'] =  Customer_Reviews_Text['text'].apply(remove_all_special)

,text,text_lower,text_nodigits,text_nospecial
0,@115712 I understand. I would like to assist y...,@115712 i understand. i would like to assist y...,@ I understand. I would like to assist you. We...,115712 I understand I would like to assist you...
1,@sprintcare and how do you propose we do that,@sprintcare and how do you propose we do that,@sprintcare and how do you propose we do that,sprintcare and how do you propose we do that
2,@sprintcare I have sent several private messag...,@sprintcare i have sent several private messag...,@sprintcare I have sent several private messag...,sprintcare I have sent several private message...
3,@115712 Please send us a Private Message so th...,@115712 please send us a private message so th...,@ Please send us a Private Message so that we ...,115712 Please send us a Private Message so tha...
4,@sprintcare I did.,@sprintcare i did.,@sprintcare I did.,sprintcare I did

At this points my text is clean with the help of RegEx

This is the time to replace text with some numbers

In [ ]:
corpus = ['This is Sentence One', 'This is Sentence Two', 'This is Sentence Three']

In [ ]:
corpus

In [ ]:
from sklearn.feature_extraction import text

In [ ]:
cv = text.CountVectorizer(input=corpus)

In [ ]:
matrix = cv.fit_transform(corpus)

In [ ]:
import pandas as pd
pd.DataFrame(matrix.toarray(), columns=cv.get_feature_names())

In [ ]:
# Create bi-gram 
cv1 = text.CountVectorizer(input=corpus, ngram_range=(2,2))
matrix1 = cv1.fit_transform(corpus)
pd.DataFrame(matrix1.toarray(), columns=cv1.get_feature_names())

In [ ]:
corpus = ['This is Sentence One', 'This is Sentence Two', 'This is Sentence Three']

In [ ]:
corpus

In [ ]:
tf = text.TfidfVectorizer(input=corpus, ngram_range=(1,1))
matrix5 = tf.fit_transform(corpus)
pd.DataFrame(matrix5.toarray(), columns=tf.get_feature_names())

In [ ]:
tf1 = text.TfidfVectorizer(input=corpus, ngram_range=(1,2))
matrix6 = tf1.fit_transform(corpus)
pd.DataFrame(matrix6.toarray(), columns=tf1.get_feature_names())

In [ ]:
corpus2 = ['This is Sentence One', 'Trump is Republic',  'This is Sentence Three', 'Trump is Republic and American']

In [ ]:
tf1 = text.TfidfVectorizer(input=corpus2, ngram_range=(1,2))
matrix7 = tf1.fit_transform(corpus2)
#pd.DataFrame(matrix7.toarray(), columns=tf1.get_feature_names())

from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(matrix7)

### Stemming

Go back to the root word by removing suffix or Prefix 
He was riding. 
He was taking the ride.

In [107]:
# NLTK -> Natural Language Tool Kit 
from nltk.stem import PorterStemmer

In [112]:
PorterStemmer().stem("recommendation")

'recommend'

In [121]:
e_words = ["wait", "waiting", "waited", "waits", "awaiting", "crying", "increasing", "recommendation"]

In [122]:
ps = PorterStemmer()
for w in e_words:
    rootWord = ps.stem(w)
    print(rootWord)

wait
wait
wait
wait
await
cri
increas
recommend

In [123]:
from nltk.tokenize import sent_tokenize, word_tokenize 
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\anparash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Tokenization

In [124]:
sentence = "Hello Dear, It is great travelling to different places, I am enjoying my life to the fullest"
words = word_tokenize(sentence)
words

['Hello',
 'Dear',
 ',',
 'It',
 'is',
 'great',
 'travelling',
 'to',
 'different',
 'places',
 ',',
 'I',
 'am',
 'enjoying',
 'my',
 'life',
 'to',
 'the',
 'fullest']

In [125]:
ps = PorterStemmer()
for w in words:
    rootWord = ps.stem(w)
    print(rootWord)

hello
dear
,
it
is
great
travel
to
differ
place
,
i
am
enjoy
my
life
to
the
fullest

### Lemmatization

In [ ]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()
text = "Studies Studying Cries Cry"
words1 = nltk.word_tokenize(text)
for w in words1:
    rootWord = ps.stem(w)
    print(rootWord)

In [126]:
# Result from Lemmatization 
# Lemmatization of NLTK doesn't work as expected 
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
WLemma = WordNetLemmatizer()
text = "Studies Studying Cries Cry Cry"
words2 = nltk.word_tokenize(text)
for w in words2:
    rootWord2 = WLemma.lemmatize(w)
    print(rootWord2)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\anparash\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Studies
Studying
Cries
Cry
Cry

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
WLemma = WordNetLemmatizer()
text = "Studies Studying Cries Cry Cry"
words2 = nltk.word_tokenize(text)
words2

In [ ]:
WordNetLemmatizer.lemmatize

In [147]:
# Part of Speech tagging ( POS)
# Tag the Entities in the text 
import spacy 
from spacy import displacy
from collections import Counter 
import en_core_web_sm  # Pre trained model 
#nlp = en_core.web_sm.load()

C:\Users\anparash\Anaconda3\lib\site-packages\spacy\util.py:710: UserWarning: [W095] Model 'en_core_web_sm' (3.1.0) requires spaCy >=3.1.0,<3.2.0 and is incompatible with the current version (3.0.7). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [127]:
#!python -m spacy download en_core_web_sm
#!pip install spacy
import spacy
nlp = spacy.load('en_core_web_md')
#from spacy.lang.en import English

#import spacy
#spacy.load('en')

In [ ]:
#nlp = en_core_web_md.load()

## Lemmatization using SPACY library

In [142]:
#sentence = "The striped bats are hanging on their feet for best"
sentence = "Crying cried Lying fullest"
#sentence = "kidding dancing"
#sentence = "Kidding Dancing"

# Parse the sentence using the loaded 'en' model object `nlp`
doc = nlp(sentence)

# Extract the lemma for each token and join
" ".join([token.lemma_ for token in doc])

'cry cry lie full'

In [143]:
doc = nlp('European authoraties fined google a record $5.1 billion on Monday for some bad practice')

In [144]:
print([(X.text, X.label_) for X in doc.ents])

[('European', 'NORP'), ('a record $5.1 billion', 'MONEY'), ('Monday', 'DATE')]

In [ ]:
doc = nlp('Anil has 1000 employees')
print([(X.text, X.label_) for X in doc.ents])

In [155]:
doc2 = "India is an amazing country. Narendra Modi is the prime minister. India is producing many businessman. Year 2021 is great for economy a deal of $2.8 billion between two japan and india"
#print([(X.text, X.label_) for X in doc.ents])

In [156]:
displacy.render(nlp(str(doc2)), jupyter = True, style = 'ent')

In [ ]:
# NER - Named Entity Recognition

In [157]:
doc1 = "India logged 19,740 new Covid-19 cases and 23,070 recoveries in the last 24 hours, reports the ministry of health and family welfare on Saturday. With this, the country's active caseload now stands at 2,36,643, which is the lowest in 206 days. Stay with TOI for updates from India and around the world"

In [158]:
displacy.render(nlp(str(doc1)), jupyter = True, style = 'ent')

In [171]:
#doc1 = "River banks in India are often flooded"
doc1 = "Bank is full on money"

In [172]:
displacy.render(nlp(str(doc1)), jupyter = True, style = 'ent')

In [174]:
#doc1 = "River banks in India are often flooded"
doc1 = "River bank is full on water"
displacy.render(nlp(str(doc1)), jupyter = True, style = 'ent')

## Encoding

In [ ]:
data = b"\xbc cup of flour"

In [ ]:
data.decode("utf-8")

In [ ]:
data.decode("latin-1")

In [ ]:
original_tweet = "I luv my &lt;3 iphone &amp; you’re awsm apple. DisplayIsAwesome, sooo happppppy 🙂 http://www.apple.com"

In [ ]:
original_tweet

In [ ]:
original_tweet.decode("utf8").encode('ascii','ignore')

In [ ]:
!pip install locale
import locale

In [ ]:
locale.getpreferredencoding()

In [ ]:
text = "記者 鄭啟源 羅智堅"

In [ ]:
text

In [ ]:
#len(text.encode("utf-8"))
len(text.encode("latin-1"))